@charset "UTF-8";
*{margin: 0;padding: 0;}
/*
font-family: "Dancing Script", cursive;
font-family: "Noto Sans KR", sans-serif; 
font-family: 'HandelGothic TL', sans-serif; */

body{
    color: #333;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif; 
}

.en{font-family: 'HandelGothic TL', sans-serif;}
.en_s{font-family: "Dancing Script", cursive;}

/* --------inner 넓이에 관한 가이드-------- */
.inner{
    width: 1320px;
    margin: 0 auto;
    display: flex;
}
.inner .box{width: 50%;}

/* ----------------menuOpen---------------- */
.menuOpen{}
.menuOpen .open{
    position: fixed;
    top: 50%;right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 30px 22px;
    z-index: 100;
}
.menuOpen .open::before{
    content: "";
    width: 100%;height: 100%;
    position: absolute;
    top: 0;right: -100%; 
    background-color: #f5f5f5;
    z-index: -1;
    transition: 0.3s;
}
.menuOpen .open:hover::before{right: 0;}

/* 원그리기 */
.menuWrap.on::before{
    content: "";
    position: absolute;
    top: 50%; left: 30%;
    transform: translateY(-50%);
    width: 700px;height: 700px; 
    background-color: #fff;
    border-radius: 50%;
    animation: circle 1.8s;
}

@keyframes circle{
    0%{opacity: 0;}
    40%{opacity: 0;transform: translateY(-50%) scale(0.5);}/* 원이 사라지지 않게 한번더줌 */
    100%{opacity: 1;transform: translateY(-50%) scale(1);}
}
/* ---------- */
.menuWrap{
    width: 100%;height: 100%;
    position: fixed;
    top: 0;right: 0;
    z-index: 100;
    background-color: #eee;
}
.menuWrap .close{
    position: absolute;
    top: 0; left: 30px;
    transform: translate(-50%);
}
.menuWrap .close.en{
    top: 50px; right: 50px; left: auto;/* left에게 영향을 받지 않겠다는 의미 */
    font-size: 25px;
    border-bottom: 1px solid #888;
    color: #888;
}
.menuWrap .tit{
    position: absolute;
    top: 50%;left: 25%;
    transform: translateY(-50%);
    font-size: 60px;color: #ccc;
}
.menuWrap .close img{}
.menuWrap ul{}
.menuWrap ul li{}
.menuWrap ul li a{
    position: relative;
    display: inline-block;
    transition: 0.3s;
}
.menuWrap ul li a::after{/* after before는 자바에서 안불러지므로 큰 역할하는 애한테 주지말기 */
    content: "";
    position: absolute;
    left: 0;bottom: 0;
    width: 100%;height: 2px;
    background-color: #333;
    transition: 0.3s;
    transform-origin: top right;
    transform: scale(0);
}
.menuWrap ul li a:hover::after{
    /* width: 100%; */
    transform: scale(1);
}
/* 메뉴화면 열기 -- main.js에서 on붙이기 */
.menuWrap{
    width: 0;
    opacity: 0;
    transform: skewY(-40deg);
}
.menuWrap.on{
    width: 100%;
    opacity: 1;
    transform: skewY(0deg);
    transition: 0.5s; /* on한테만 주면 닫을때는 확 사라짐 */
}
/* ----------------header---------------- */
header{}
.innerheader{
    height: 110px;
    max-width: 1720px;/* 1720보다 커질 수 없음 */
    margin: 0 auto;
    line-height: 110px;
    display: flex; justify-content: space-between;
}

/* mainmenu */
.mainmenu{
    position: relative;
    display: flex; justify-content: space-between;
    gap: 300px;
}
.mainmenu .bar{
    position: absolute; left: 0;bottom: 40px;
    width: 0;height: 3px;
    background-color: #e7e7e7;
    transition: 0.2s;
}

.mainmenu .gnb{display: flex; gap:20px}
.mainmenu .gnb li a{display: block; color: #555;}

.mainmenu .sns{display: flex; gap:20px;}
.mainmenu .sns li{}
.mainmenu .sns li a{display: block; padding: 0 10px;}

/* ----------------section---------------- */
/* visual */
.visual{
    max-width: 1720px;
    margin: 0 auto;
    display: flex;
}
.visual>div{width: 50%;}
.visual .mainImg{}
.visual .mainImg .img{}
.visual .mainImg .img img{width: 90%;}

.visual .mainText{padding-top: 180px;}
.visual .mainText .tit{font-size: 72px;}
.visual .mainText .tit span.gray{color:#ccc}
.visual .mainText .txt{padding: 50px 0 0 70px;}
.visual .mainText .txt p{
    color: #888;line-height: 1.6;
    margin-bottom: 10px;
}

/* jurnal */
.jurnal{
    position: relative;
    padding: 190px 0 120px;
}
.jurnal .scroll{
    position: absolute;
    left: 50%; top: 0;
    transform: translateX(-50%);
    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    padding-top: 90px;
}
.jurnal .scroll::before{
    height: 75px;width: 1px;
    content: "";
    position: absolute; top: 0;left: 4px;
    background-color: #333;
}
.jurnal .box img{padding-top: 100px;}
.jurnal .box .tit{margin-bottom: 40px;}
.jurnal .box ul li{display: flex; margin-bottom: 30px;}
.jurnal .box ul li h3{width: 22%;}
.jurnal .box ul li p{width: 78%; color: #888;line-height: 1.4;}
.jurnal .box .moreBtn{margin-left: 22px;}

/* service */
.service{padding: 190px 0;}
.service .inner{flex-wrap: wrap;}
.service .box{}
.service .box.design{
    width: 45%;
    border-top:1px solid #c4e5ea;
    padding-top: 60px;/* padding에는 음수값을 줄 수 없음 */
    margin-top: -40%;
}
.service .box .img{margin-top: 60px;}
.service .box .img.animate__motion::after{background-color: #e8fcff;}
.service .box .img img{width: 100%;}

/* service영역이 화면에 보일 시 body 전체배경색 바꾸기 */
body{transition: 0.4s;}
body.on{background-color: #e8fcff;}


/* customer */
.customer{
    padding: 160px 0;
    text-align: center;
    background: url(../images/img_04.jpg)no-repeat center;
    background-attachment: fixed;/* 화면에 고정 */
    background-size: cover;
}
.customer .tit{
    color: #fff;font-size: 40px;
    margin-bottom: 10px;
}
.customer .txt{color: #777;}

/* team */
.team{padding: 190px 0;position: relative;}
.team .box.left{
    text-align: right;
    padding-right: 80px;box-sizing: border-box;
}
.team .box .tit{margin-bottom: 40px;}
.team .box .txt{margin: 30px 0;}
.team .box img{margin-top: 100px;}
.team .box:nth-child(2) img{width: 100%;}

/* footer */
footer{width: 1320px; margin: 0 auto;}
footer .top .tit{
    color: #57A6A1;
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
footer .bottom{
    border-top: 1px solid #e6e6e6;
    padding: 40px 0 100px;
}
footer .bottom ul{display: flex;}
footer .bottom ul li{width: 23%;color: #aaa;font-size: 12px;line-height: 2;}
footer .bottom ul li:first-child{width: 31%;color: #000; font-size: 28px;}
footer .bottom ul li b{color: #333;}


/* 타이틀, 텍스트 */
.tit{
    font-size: 50px;
    font-weight: normal;
    line-height: 1.1;/* line-height기본값- 1~1.2 */
}
.tit span{display: block;}
.tit span b{font-weight: normal;}
.tit .en_s{font-weight: normal;font-size: 22px;}
/* 
✨i태그 vs em태그 : 둘다 기울임체
i태그 : 그냥 기울임체
em태그 : 강조의 의미를 가짐(장애인들에게 읽어줌 "강조")

✨b태그 vs strong태그 : 둘다 굵은체
b태그 : 그냥 굵은체
strong태그 : 강조의 의미를 가짐(장애인들에게 읽어줌 "강조")*/

/* text animation */
.tit.animate__motion span{overflow: hidden;}
.tit.animate__motion span b{
    display: block;
    animation: textAni 1.3s;
    transform-origin: top left;/* 중심이 달라짐 */
}

@keyframes textAni{
    0%{opacity: 0;}
    30%{opacity: 1;transform: translate(0,40px) skewY(8deg);}
    100%{opacity: 1;transform: none;}/* == transform: skewX(0deg) translateX(0px); */
}

/* img animation */
.img.animate__motion{
    position: relative;
    animation: imgAni 1s;
}

@keyframes imgAni{
    0%{transform: translateY(50px);}
    100%{transform: translateY(0);}
}
.img.animate__motion::after{
    content: "";
    width: 100%;height: 0;
    position: absolute;
    top: 0;left: 0;/* bottom: 0; --> 기준이 바뀜 */
    background-color: #fff;
    animation: mask 0.5s;
}
.team .img.animate__motion::after{
    display: none;
}

@keyframes mask{
    0%{height: 90%;}
    100%{height: 0;}
}

/* svg ani 1743.82958984375 */
.jurnal{}
.jurnal .circleBox{
    width: 700px;
    position: absolute;
    right: 13%; top: 100px;
    z-index: -1;
    transform: rotate(-90deg);
}
.team .circleBox{
    width: 700px;
    position: absolute;
    left: 20%;top: -50px;
    z-index: -1;
}
.circleBox svg{width: 100%;}
.circleBox svg path{
    stroke-dasharray: 1764px; 
    stroke-dashoffset: 0px;
}
.circleBox.animate__motion svg path{
    animation: dash 1.5s;
}
@keyframes dash{
    0%{stroke-dashoffset: 1764px;}
    100%{stroke-dashoffset: 0px;}
}

/* read more */
.moreBtn{
    position: relative;
    padding: 45px;
    margin-top: 20px;
    color: #333;
    display: inline-block;
    transform: skewX(-15deg) translateX(5px);
    /* 기울임x --> lineheight의 중심이 축이되어서 x축으로 기울임 */
    transition: 0.3s;
}
.moreBtn:hover{
    font-weight: bold;
    transform: none;
}
.moreBtn::before{
    content: "";
    width: 42px;height: 1px;
    position: absolute;
    top: 53%; left: 0px;
    background-color: #333;
}

/* //////////미디어쿼리////////// */

/* pc(1401~1720) */
@media (max-width:1720px){
    .innerheader{
        max-width: 100%;
        padding: 0 30px; box-sizing: border-box;
    }
    header .mainmenu{gap: 200px;}
    .visual .mainText {padding-top: 150px;}
    .visual .mainText .tit{font-size: 62px;}
}

/* 노트북, 태블릿(1025~1400) */
@media (max-width:1400px){
    .mainmenu .sns{gap: 10px;}
    .visual .mainImg .img img {width: 100%;}
    .visual .mainText {padding-top: 100px;}
    .visual .mainText .tit {font-size: 46px;}
    .visual .mainText .txt {padding: 20px 0 0 0px;}

    .inner{width: 100%; padding: 0 30px; box-sizing: border-box;}
    .jurnal .scroll {display: none;}
    .jurnal .circleBox {right: -10%;top: 0%;}
    .jurnal{overflow: clip;}
    /* sticky를 쓰려면 부모한테 overflow:hidden을 쓰면 안되지만, overflow:clip을 쓰면된다. */

    .service {padding: 80px 0;}
    .service .box .img img {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    footer{
        box-sizing: border-box;
        padding: 0 30px;
        width: 100%;
    }
}

/* 태블릿(767~1024) */
@media (max-width:1024px){
    header .innerheader{height: 80px;line-height: 80px;}
    header .mainmenu{display: none;}
    .menuOpen .open{
        width: 70px; height: 80px;
        transform: none;top: 0;padding: 0;}
    .menuOpen .open::before{display: none;}

    .visual{flex-wrap: wrap;}
    .visual>div{width: 100%;}
    .visual .mainText{padding-top: 50px;padding-left: 30px;box-sizing: border-box;}
    
    .inner{flex-wrap: wrap;}
    .inner .box{width: 100%;}
    .jurnal{padding: 80px 0;}
    .jurnal .box img{width: 100%;}
    .jurnal .box .img{width: 80%;margin: 0 auto 50px;}

    .service .box.design{margin-top: 50px;width: 100%;}
    .service .box .img img{margin: 50px 0 0;}
    .service .box.design .tit{font-size: 35px;}

    .customer{padding: 120px 0;}
    .customer .tit{font-size: 30px;}

    .team{padding: 80px 0; overflow: clip;}
    .team .circleBox{left: 15%;}
    .team .box.left{padding-right: 0;}
    .team .box img {width: 70%;}
    .team .box:last-child{width: 90%;margin: 70px auto 0;}
    .team .box:last-child img{margin: 50px 0;}

    footer .bottom ul {flex-wrap: wrap;}
    footer .bottom ul li{width: 33.3333%;}
    footer .bottom ul li:first-child{width: 100%;margin-bottom: 30px;}
}

/* 태블릿(321~766) */
@media (max-width:766px){
    header .innerheader{height: 60px; line-height: 60px;}
    .menuOpen .open{width: 52px;height: 60px;}
    .menuOpen .open img{height: 38px;}
    .menuWrap .close.en {display: none;}
    .menuWrap .close {top: 20px;right: 20px;left: inherit;transform: none;}
    /* left:auto 해도됨/ left:inherits; --> 설정 초기화 */

    .visual{padding: 0 20px;}
    .visual .mainText {padding-left: 0;}
    .visual .mainText .tit {font-size: 30px;}

    .jurnal {padding: 50px 0;}
    .jurnal .circleBox {right: -6%; top: 10%;}
    .jurnal .box .img {margin: 0 auto 20px;}
    .jurnal .box .tit {margin-bottom: 20px; font-size: 37px;}
    .jurnal .box ul li {margin-bottom: 20px; flex-wrap: wrap;}
    .jurnal .box ul li h3 {width: 100%; margin-bottom: 10px;}
    .jurnal .box ul li p {width: 100%; font-size: 12px;}
    .jurnal .box .moreBtn {margin-left: inherit;}
    
    .service {padding: 50px 0;}
    .service .box .img img {width: 100%;}
    .service .box.design {margin-top: 30px;}
    .service .box.design .tit {font-size: 25px;}
    .service .box .tit {font-size: 37px;}

    .customer {padding: 80px 20px;}
    .customer .tit {font-size: 20px;}

    .team .circleBox {left: 4%;}
    .team .box .txt {margin: 30px 0 10px;}
    .team .box img {margin-top: 50px;}
    .team .box:last-child img {margin-top: 30px;}
    .team .inner .tit{font-size: 25px;}
    .team .tit .en_s {font-size: 16px;}

    footer{padding: 0 20px;}
    footer .top .tit {margin-bottom: 30px;}
    footer .bottom ul li {width: 100%; margin-bottom: 12px;}
    footer .bottom ul li:first-child {font-size: 20px;}
}

/* 모바일(0~320) */
@media (max-width:320px){
    .tit .en_s {font-size: 16px;}
    .moreBtn {font-size: 12px;}
}